.teammate {
  display: grid;
  grid-template-columns: 0.2fr 2fr 1fr 1fr 1fr;
  align-items: center;
  gap: 16px;
  background: var(--additional-bg-first);
}

.teammate:hover {
  background: var(--additional-bg-second);
}

.avatar {
  display: flex;
}

.avatar img {
  width: 100%;
}

.wins {
  color: var(--success-color);
}

.winRate.sucess {
  color: var(--success-color);
}

.winRate.error {
  color: var(--error-color);
}
