.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.avatar {
  max-width: 120px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  max-width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0;
}

.name {
  font-size: 28px;
}

.winRate {
  font-size: 18px;
  display: flex;
  gap: 4px;
}

.win {
  color: var(--success-color);
}

.lose {
  color: var(--error-color);
}

.winRatePercents {
  font-size: 18px;
}

.sectionTitle {
  font-size: 18px;
}

.tableWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 32px 0;
}

.tableHeader {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.5fr 0.5fr 0.5fr;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: 600;
}

.tableElement {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.5fr 0.5fr 0.5fr;
  align-items: center;
  gap: 16px;
  background: var(--additional-bg-first);
  transition: 0.3s;
}

a.tableElement:hover {
  background: var(--additional-bg-second);
}

.tableAvatar {
  display: flex;
  max-width: 100px;
}

.tableAvatar img {
  width: 100%;
}

.sortButton {
  cursor: pointer;
}

.flexColumn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tabelFirstTextColumn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.totals {
  display: flex;
  margin: 16px 0;
  align-items: center;
  gap: 16px;
}

.totalsElement {
  display: flex;
  gap: 8px;
}

.totalsLabel {
  font-weight: 700;
}
