.resultBlock {
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
  background: var(--additional-bg-second);
  padding: 4px;
}

.avatar {
  width: 20%;
  display: flex;
}

.img {
  max-width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nickname {
  font-size: 18px;
  font-weight: 700;
}

.lastMatchTitle {
  font-size: 12px;
}

.lastMatchDate {
  font-size: 10px;
  font-style: italic;
}
