.navbar {
  margin: 16px 0;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  width: fit-content;
}

.navbar a {
  padding: 12px 24px;
  transition: 0.3s;
}

.navbar a:hover {
  background: var(--additional-bg-second);
}

.navbar a.active {
  background: var(--link-color);
}
