html,
body {
  min-height: 100%;
  width: 100%;
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #001f3f, #00172b);
  color: #fff;
  display: flex;
  flex-direction: column;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  --additional-color: #3498db;
  --additional-color-hover: #2c81ba;
  --main-bg: linear-gradient(to bottom, #001f3f, #00172b);
  --additional-bg-first: #00264d;
  --additional-bg-second: #003366;
}
